@import "tailwindcss";

/* Make dark: utilities activate when [data-theme="dark"] is present */
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

body {
    /* font-family: 'Inter', 'sans-serif'; */
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

/* in app.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
